@media(min-width: 576px) {
    .desktop-view {
        height: 5vh;
        width: 100%;
        position: fixed;
        top: 0;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(0, 0, 0, 0.5);
        backdrop-filter: saturate(80%) blur(10px);
    }
    
    .desktop-view h1 {
        margin-left: 20px;
    }

    .desktop-view ul {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
    }

    .desktop-view li {
        list-style: none;
    }

    .desktop-hide {
        display: none;
    }
}
@media(max-width: 576px) {
    .desktop-view {
        display: none;
    }
    .menu {
        z-index: 1000;
        color: #C9EBF9;
        background-color: #062343;
        border-radius: 0 10px 10px 0;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 90vw;
        transition: transform .3s ease-in-out;
    }
    .menu h1{
        width: 100%;
        font-size: 2rem;
        margin-top: 70px;
        display: inline-block;
        text-align: center;
    }
    .menu ul {
        padding: 30px 0;
        margin: 30px 30px;
        text-align: center;
        border-top: 1px solid #C9EBF9;
        border-bottom: 1px solid #C9EBF9;
    }
    .menu li {
        font-size: 1.4rem;
        list-style: none;
        line-height: 2.5rem;
    }
    .close {
        position: fixed;
        top: 2vh;
        width: 75px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .open {
        z-index: 100;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 2vh;
        width: 75px;
        border-radius: 0 10px 10px 0;
        background-color: rgb(0, 0, 0, 0.5);
        backdrop-filter: saturate(80%) blur(10px);
    }

    .hide {
        transform: translateX(-100vw);
    }
    .show {
        transform: translateX(0);
    }
    
}
