.project--container {
    margin-bottom: 40px;
}
.project--container h2 {
    margin-bottom: 20px;
}
.project-container img {
    max-width: 100%;
    max-height: auto;
}
.project--info {
    margin-top: 20px;
}
.project--info li {
    list-style: none;
    line-height: 1.5rem;
}

.embla {
    height: auto;
    position: relative;
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    margin-right: 20px;
    flex: 0 0 80%;
    min-width: 0;
}
.embla__slide img {
    width: 100%;
    object-fit: cover;
}
.embla__button {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background: none;
}
.embla__prev {
    left: 1.6rem;
}
.embla__next {
    right: 1.6rem;
}

/* Collapse Styles */
.content {
    padding: 0 20px;
    border-radius: 5px;
}
.content-parent {
    overflow: hidden;
    transition: all ease 0.3s;
}
.content-label {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
}
