.project--container {
    margin-top: 200px;
    /* max-width: 350px; */
}
.project-container img {
    max-width: 100%;
    max-height: auto;
    
}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    border: 1px solid black;
    margin-right: 20px;
    flex: 0 0 80%;
    min-width: 0;
}