* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
p {
  line-height: 1.5rem;
  color: #606060;
  margin-bottom: 1rem;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
li {
  color: #606060;
}
.home {
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(45deg, #C9EBF9 0 20%, #B6DCEF 0 40%, #5A88C1 0 60%, #176BA9 0 80%, #062343 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 2.5rem;
}
.card {
  margin-top: 30px;
  padding: 20px 50px;
  background-color: #fff;
}
.card-head {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.card-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #062343;
}

.about {
  margin: -10vh auto 0;
  border-radius: 10px;
}
.image-container {
  width: 293px;
  height: 375px;
  margin-bottom: 10px;
  border-radius: 10px;
  object-fit: scale-down;
  overflow: hidden;
}
.image-container img {
  scale: 0.5;
  transform: translateX(-1383px) translateY(-643px);
  z-index: -1000;
}
.contact-btn {
  display: block;
  max-width: 415px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: #176BA9;
  border: 2px solid #176BA9;
  cursor: pointer;
}
.skill {
  margin-bottom: 40px;
}
.tool ul {
  margin-bottom: 30px;
}

.tool li {
  padding-left: 20px;
  color: #606060;
  line-height: 1.5rem;
  list-style: circle inside;
}
footer {
  color: #C9EBF9;
  background-color: #062343;
}
.section-top {
  padding-top: 20px;
  text-align: center;
}
.section-top li {
  line-height: 2rem;
}
.section-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.copyright {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}
footer li, footer a {
  text-decoration: none;
  color: #C9EBF9;
}

/* Project Styles */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #C9EBF9 0 20%, #B6DCEF 0 40%, #5A88C1 0 60%, #176BA9 0 80%, #062343 0 100%);
}
.projects-card {
  width: 100%;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px 10px;
  background-color: #fff;
}

 /* Contacts Styles */

.contact-page {
  padding-top: 100px;
  margin-top: none;
  height: 110vh;
  background-image: linear-gradient(45deg, #C9EBF9 0 20%, #B6DCEF 0 40%, #5A88C1 0 60%, #176BA9 0 80%, #062343 0 100%);
}
.contact-card-header{
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #062343;
  margin-bottom: 1.8rem;
}
.contact-card {
  background-color: #fff;
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 820px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 576px) {
  .home {
    height: 110vh;
  }
  .about-container {
    display: flex;
    flex: 1 1;
  }

  .image-container {
    min-width: 293px;
    height: 375px;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: scale-down;
    overflow: hidden;
    margin-right: 30px;
  }

  .image-container img {
    scale: 0.5;
    transform: translateX(-1383px) translateY(-643px);
    z-index: -1000;
  }

  .card {
    width: 80%;
  }
  .card-title {
    border-bottom : none;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: center;
  }
  .skill {
    flex-grow: 1;
  }
  .card-head {
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
  }
  .card-head h3 {
    margin-right: 10px;
  }

  .skills {
    width: 80vw;
    margin: 30px auto 0;
  }
  .tools {
    margin: 30px auto 0;
  }
  .tools ul {
    text-align: left;
  }
  .contact-page {
    padding-top: 100px;
    margin-top: none;
    height: 110vh;
    background-image: linear-gradient(45deg, #C9EBF9 0 20%, #B6DCEF 0 40%, #5A88C1 0 60%, #176BA9 0 80%, #062343 0 100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .contact-card {
    flex-grow: 1;
    max-width: 670px;
    background-color: #fff;
    margin: 30px;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .contact-card-header {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #062343;
    margin-bottom: 1.8rem;
  }
}