* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.home {
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(45deg, #C9EBF9 0 20%, #B6DCEF 0 40%, #5A88C1 0 60%, #176BA9 0 80%, #062343 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 2.5rem;
}

.about {
  padding: 20px;
  margin: -10vh auto 0;
  background-color: #fff;
  /* border: 1px solid black; */
  border-radius: 10px;
}

.skills {
  border: 1px solid black;
}
.tools {
  border: 1px solid black;
}
