* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
p {
  line-height: 1.5rem;
  color: #606060;
  margin-bottom: 1rem;
}
.home {
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(45deg, #C9EBF9 0 20%, #B6DCEF 0 40%, #5A88C1 0 60%, #176BA9 0 80%, #062343 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 2.5rem;
}
.card {
  margin-top: 30px;
  padding: 20px 50px;
  background-color: #fff;
}
.card-head {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.card-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #062343;
}

.about {
  margin: -10vh auto 0;
  border-radius: 10px;
}
.skill {
  margin-bottom: 40px;
}
.tool ul {
  margin-bottom: 30px;
}

.tool li {
  padding-left: 20px;
  color: #606060;
  line-height: 1.5rem;
  list-style: circle inside;
}
footer {
  color: #C9EBF9;
  background-color: #062343;
}
.section-top {
  padding-top: 20px;
  text-align: center;
}
.section-top li {
  line-height: 2rem;
}
.section-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.copyright {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}
footer a {
  text-decoration: none;
  color: #C9EBF9;
}

@media (min-width: 576px) {
  .home {
    height: 110vh;
  }
  .card {
    width: 80%;
  }
}